/*.empty-containder { display: none; }
.container { display: block; }

@media only screen and (max-device-width : 720px) {
.empty-containder { display: block; }
.container { display: none; }
}*/
*{
	padding: 0;
	margin: 0;
}
body{
	font: 14px Arial;
}
.top_conteiner
 header img{
	height: 70px;
	float: left; /*если лого будет ссылкой то удалить + см html*/
}
.home_b{
	background: url(../pic/buttons.png), no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 370%;
    background-position: 20px 0px;
}
.home_b:hover{
	background-position: 20px 22px;}

#left_nav a {
	float: left;
	list-style: none;
	display: inline-block;
	border-right: 1px solid lightgrey;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: black;
	text-decoration: none;
	padding: 0 14px 0 16px;
}
#left_nav a:first-child{
	border-right: 0;
}
#left_nav a:hover,#right_nav a:hover{
	transition: .4s;
	background: #bbb;
	color: gold;
}
#right_nav a{
	border-left: 1px solid lightgrey;
	color: black;
	display: inline-block;
	float: right;
	height: 70px;
	line-height: 22px;
	list-style: none;
	padding: 0 14px 0 16px;
	text-align: center;
	text-decoration: none;
	text-indent: 22px;
	width: 75px;
}

#right_nav .log_b{
	background: url(../pic/buttons.png), no-repeat;
	width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 370%;
    background-position: 72px 0px;
}
#right_nav .log_b:hover{
	background-position: 72px 22px;}
#right_nav .sign_b{
	background: url(../pic/buttons.png), no-repeat;
	width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 370%;
    background-position: 47px -1px;

}
#right_nav .sign_b:hover{
	background-position: 47px 21px;
}
.home_b, .sign_b, .log_b{
	margin-top: 22px;
}

.top_conteiner header{
	position: relative;
	height: 70px;
	box-shadow: 0 0px 6px #000;
	z-index: 1;
	overflow: hidden;
	min-width: 1280px;
}
.top_conteiner section aside.banner{
	position: relative;
	height: 490px;
}
.top_conteiner h1{
	width: 900px;
	overflow-x: hidden;
	padding-top: 15px;
	color: #fff;
	text-indent: 20px;
	font-size: 5em;
}
.banner h2:before{
	content: ' $';
	font-size: 30px;
}
.slide h3:before{
	content: ' $';
	font-size: 20px;
}
.top_conteiner h2 {
	position: absolute;
    top: 32%;
    font-size: 52px;
    font-weight: 100;
    color: #fff;
}
.top_conteiner h1 + article{
	position: absolute;
    width: 250px;
    height: 310px;
    left: 60px;
    top: 145px;
	/*border: 1px dotted red;	*/
}
.top_conteiner article img{
	width: 100%;
}
.top_conteiner aside.banner{
	background: #EFB93B;
	background-position: 100%;
	background-image: url(../pic/fon_header.png);
	background-repeat: no-repeat;
	min-width: 1280px;
}

/*ul li:first-child{
	padding-left: 100px;
}*/
.slide{
	width: 150px;

	position: relative;
	height: 150px;
	border-radius: 5px;
}
.slide:hover{
	box-shadow: 0 0 2px rgba(0,0,0,.7); 
}
.top_conteiner time{
	position: absolute;
	left:18%;
	bottom: 25%;
	font-weight: bold;
	color: #1D1D1D;
}
.top_conteiner h1 + article time{
	position: absolute;
	left:30%;
	bottom: 15%;
	font-weight: 100;
	color: #fff;
	font-size: 24px;
}
.top_conteiner button{
 	position: absolute;
	background: #01A74B;
	height: 20%;
	width:90%;
	margin-left: 5%; 
	border-radius: 5px;
	font: 14px Arial;
	color: #fff;
	border: 0;
	border-bottom: 2px solid #007735;	
	bottom: 5px;
	cursor: pointer;
}
.top_conteiner h2 + button{
	position: absolute;
	background: #01A74B;
	height: 20%;
	width:80%;
	top: 54%;
	margin-left: 10%;
	/*border-radius: 5px;*/
	font: 28px Arial;
	/*color: #fff;*/
	/*border: 0;*/
	/*border-bottom: 2px solid #007735;*/
}
.top_conteiner button:hover{
	box-shadow: 0 2px 4px rgba(0,0,0,.7); 
}
.top_conteiner h3{
	position: absolute;
	top: 40%;
	font: 28px Arial;
	text-indent: 2px;
	font-weight: bold;
	color:  #1D1D1D
}
.top_conteiner body section:last-child{
	height: 220px;
	overflow: hidden;
}

.prev{
	background: #A7A7A7;
	background-image: url(../pic/l.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 50%;
	}
.next{
	background: #A7A7A7;
	background-image: url(../pic/r.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 50%;
}
.prev,.next{
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/*background: #ccc;*/
	margin: 20px 0 0 10px;

}
.next:hover{
	transition: .4s;
	background: #777;
	background-image: url(../pic/r.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 50%;
}
.prev:hover{
	transition: .4s;
	background: #777;
	background-image: url(../pic/l.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.top_conteiner ul{

	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content:  center; space-around;

}
.top_conteiner ul li{
	padding-top: 25px;
	width: 150px;
	display: inline-block;
	margin: 0 30px 5px 30px; 
	align: center;
}



/*div.t32 {
	font-family: Roboto;
	padding: 20px;
	min-width: 1280px;
	
}*/
.t32 {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  min-width: 1280px;
}
.t32 h1 {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  line-height: 20px;
  margin: 5px 0 20px;
  font-weight: bolder;
}
.t32 h1 span {
  background: white;
}
.t32 h4 {
  display: inline;
  position: absolute;
  top: 175px;
  left: 400px;
  width: 100px;
}
.t32 h4 div {
  width: 30px;
  height: 30px;
  background: no-repeat url('../pic/Arrow-right-sprite.png');
  background-size: 30px 60px;
  position: absolute;
  display: inline;
  bottom: -5px;
  left: 50px;
  cursor: pointer;
}
.t32 h4 div:hover {
  background-position-y: -30px;
}
.t32 h3 {
  font-weight: lighter;
}
.t32 h3 span {
  float: right;
}
.t32 a {
  position: absolute;
  right: 25px;
  color: #3594D7;
  font-size: 14px;
}
.t32 main {
  height: 100%;
  width: 60%;
  padding: 25px 25px 25px 100px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.t32 main img {
  margin: 20px;
  width: 75px;
  height: auto;
}
.t32 main section {
  display: inline-block;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t32 main section object {
  width: 140px;
  height: 100px;
  background: url("../pic/how-to.png") no-repeat;
  background-size: 140px 100px;
  margin-top: 20px;
  cursor: pointer;
}
.t32 main p {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
}
.t32 main samp {
  margin: 40px;
}
.t32 .top-section {
  width: 100% !important;
  min-width: 550px;
  display: block !important;
}
.t32 .bottom-section {
  margin-top: 20px;
  width: 100% !important;
  min-width: 550px;
  display: block !important;
  height: 300px;
}
.t32 .bottom-section p {
  margin: 0 !important;
  display: block !important;
  font-weight: lighter;
}
.t32 .bottom-section h5 {
  font-weight: bold;
}
.t32 aside {
  padding: 25px 150px 25px 25px;
  height: 100%;
  width: 40%;
  min-width: 400px;
  font-weight: bolder;
}
.t32 aside a {
  right: 150px;
}
.t32 aside h3 span {
  font-size: 15px;
  padding-right: 30px;
}
.t32 aside .balls-wrapper {
  display: flex;
  font-weight: bolder;
  margin-bottom: 20px;
}
.t32 aside .balls-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 4px 8px 4px 0;
}
.t32 aside .balls-wrapper div:last-child {
  background-color: #0FA0E0;
  color: white;
}
.t32 aside section {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}